.idea
.DS_Store

venv
auto_send_report

web_spider/.DS_Store
web_spider/00/ppt.jpg
web_spider/00/demo.mp3
web_spider/10/__pycache__/*
web_spider/13/douban/douban/__pycache__/*
web_spider/13/douban/douban/spiders/__pycache__/*
web_spider/13/dangdang/dangdang/__pycache__/*
web_spider/13/dangdang/dangdang/spiders/__pycache__/*
web_spider/14/jobui/jobui/__pycache__/*
web_spider/14/jobui/jobui/spiders/__pycache__/*
web_spider/14/jobui/storage/data/*
web_spider/14/jobui/johui.xlsx